
  
  
.ant-table-body {
    margin-left: 0px
}

.ant-table-column-title span {
    color : white;
    background-color: green !important;
}

.arsip-table .ant-table-body {
    margin : 0px !important
}

.arsip-table-mobile .ant-table-body {
    margin : 0px !important
}

.arsip-table thead {
    background-color: #001529;
    margin-left: 0px;
    color : white;
}

.arsip-table-mobile thead {
    background-color: #001529;
    margin-left: 0px;
    color : white; 
}

.arsip-table thead span {
    color : white; 
}   

.arsip-table-mobile span {
    color : white;
    font-size: 9px
}

.arsip-table thead svg {
    color : white;

}

.arsip-table-mobile thead svg {
    color : white;
    font-size: 7px

}

.actionLogo {
    margin-left: 15px;
    color: #001529;
    font-size: 20px;
}

.actionLogo-mobile {
    margin-left: 2px;
    color: #001529;
    font-size: 10px;
}

.arsip-table td  {
    font-size: 14px
}

.arsip-table-mobile td  {
    font-size: 9px
}
