.tanggalSimpanContainer {
    display: flex;
    flex-direction: column;
    height: 90px;
}

.tanggalSimpanLabel {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}