.SaveButton {
    height: 45px;
    background-color: #001529;
    color: white;
    border-radius: 8px

}

.SaveButton:hover {
    background-color: #001529;
    color: white;
  }

.ant-col {
    margin-bottom: -15px;
}


.noDefinitif {
    color: grey;
    font-size: 12px;
    text-align: left;
}

.TanggalSimpan {
    color: grey;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 30px;
}

.ukuranFoto {
    color: grey;
    font-size: 12px;
    text-align: left;
    margin-left: 95px;
    margin-bottom: 0px;
    margin-top: 10px
}

.kualitasFoto {
    color: grey;
    font-size: 12px;
    text-align: right;
    margin-right: 63px;
    margin-bottom: 0px;
    margin-top: 10px;
}




