.ant-input:focus {
    -webkit-box-shadow: 0 0 0 0.1rem #780000  !important;
    box-shadow: 0 0 0 0.1rem #780000  !important;
}

.has-error .ant-input:not([disabled]):focus  {
    -webkit-box-shadow: 0 0 0 0.1rem #f5222d  !important;
    box-shadow: 0 0 0 0.1rem #f5222d !important;
}


.noKlasifikasi {
    height: 45px;
    border-radius: 10px !important;
}

.ukuranFoto {
    height: 35px;
    border-radius: 7px !important;
}