.ant-input:focus {
    -webkit-box-shadow: 0 0 0 0.1rem #780000  !important;
    box-shadow: 0 0 0 0.1rem #780000  !important;
}

.has-error .ant-input:not([disabled]):focus  {
    -webkit-box-shadow: 0 0 0 0.1rem #f5222d  !important;
    box-shadow: 0 0 0 0.1rem #f5222d !important;
}


.noKlasifikasi {
    height: 40px;
    border-radius: 10px !important;
}

.ukuranFoto {
    height: 35px;
    border-radius: 7px !important;
}


.lebarFotoMobile {
    height: 30px;
    width: 80px !important;
    border-radius: 7px !important;
}

.lebarFotoMobile::placeholder {
    font-size: 9px;
}

.lebarFoto {
    height: 35px;
    width: 40px !important;
    border-radius: 7px !important;
}

.lebarFoto::placeholder {
    color: white
}

.panjangFotoMobile {
    height: 30px;
    width: 80px !important;
    border-radius: 7px !important;
}

.panjangFotoMobile::placeholder {
    font-size: 9px;
}

.panjangFoto {
    height: 35px;
    width: 40px !important;
    border-radius: 7px !important;
}

.panjangFoto::placeholder {
    color: white
}
