.ant-input:focus {
    -webkit-box-shadow: 0 0 0 0.1rem #780000  !important;
    box-shadow: 0 0 0 0.1rem #780000  !important;
}

.has-error .ant-input:not([disabled]):focus  {
    -webkit-box-shadow: 0 0 0 0.1rem #f5222d  !important;
    box-shadow: 0 0 0 0.1rem #f5222d !important;
}

.ant-input-lg {
    height: 45px;
    border-radius: 10px;
}


.ant-input-lg .ant-form-explain .show-help-enter .show-help-enter-active ::after {
    color : green;
    font-size: 50px
}

.ant-input-lg .ant-form-explain .show-help-leave .show-help-leave-active ::after {
    color : blue;
    font-size: 50px
}