.kualitasFotoContainer {
    display: flex;
    flex-direction: column;
}

.kualitasFotoDropdown .ant-select-selection-selected-value  {
    margin-top: 4px
}

.kualitasFotoDropdown {
    height: 40px
}

